import {{ pascalCase name }}, { {{ pascalCase name }}Props } from 'components/templates/{{ pascalCase name }}'

export default function Index({ page }) {
  return <h1>{page}</h1>
}

export async function getStaticProps() {
  // to do

  return {
    props: {
      page: 'Hello {{ pascalCase name }}'
    }
  }
}
